.payment-screen {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  max-width: 45rem;
  padding-bottom: 2rem;
}
.payment-method-form {
  margin: 2rem auto 0 auto;
  width: 100%;
  &__input-group {
    display: flex;
    align-items: center;
  }
  &__title {
    color: var(--color-grey);
    align-self: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-md);
    text-transform: uppercase;
    text-align: start;
  }
  &__btn {
    background-color: var(--color-dark-grey);
    border: 0.1rem solid var(--color-dark-grey);
    color: #fff;
    font-family: "Open Sans Condensed";
    font-size: 1.4rem;
    height: 4rem;
    letter-spacing: var(--letter-spacing-md);
    line-height: 4rem;
    margin-top: 2rem;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    transition: var(--transition-fast);
    &:hover,
    &:active {
      background-color: #fff;
      border: 0.1rem solid var(--color-dark-grey);
      color: var(--color-dark-grey);
    }
    &:active {
      transform: translate(2px, 2px);
    }
    &:disabled {
      background-color: transparent;
      border: 0.1rem solid var(--color-light-grey);
      color: var(--color-light-grey);
      &:hover {
        background-color: transparent;
      }
    }
  }
}
