.payment-screen {
  @include checkout-step-page;
}
.payment-method-form {
  margin: 1rem auto;
  max-width: 45rem;

  &__input-group {
    display: flex;
    align-items: center;
  }
  &__title {
    @include checkout-step-page-title;
  }
  &__btn {
    @include checkout-step-page-btn;
  }
}
