$landing-screen-height: 100vh;
$landing-screen-height-mobile: calc(100vh - 5.5em);

.landing {
  @include bg-img;
  height: $landing-screen-height;
  margin: var(--margin-sm) auto;

  @include respond(mobile) {
    height: $landing-screen-height-mobile;
  }
  background-size: cover;
}
