$sound-info-margin-top: 8rem;
$sound-info-font-size: 1.4rem;
$sound-screen-height: 100vh;
$sound-screen-height-mobile: calc(100vh - 5.5em);
$sound-screen-width: 100%;
.sound-screen {
  background-color: var(--color-overlay-bg);
  height: $sound-screen-height;
  text-align: center;
  width: $sound-screen-width;
  &__info {
    margin-top: $sound-info-margin-top;
    p,
    a {
      display: block;
      color: var(--color-light-grey);
      margin: var(--margin-md) 0;
      font-size: $sound-info-font-size;
      letter-spacing: var(--letter-spacing-lg);
      text-decoration: none;
    }
  }
  @include respond(mobile) {
    height: $sound-screen-height-mobile;
  }
}
