@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 32em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 49em) {
      @content;
    }
  }
}

@mixin full_wh {
  height: 100%;
  width: 100%;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin theme_link {
  text-decoration: none;
  text-transform: uppercase;
}
