$li-mb: 2rem;
$li-size: 1.6rem;
$sub-link-size: 1.2rem;

.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: var(--margin-sm);
  li {
    cursor: pointer;
    font-size: $li-size;
    letter-spacing: var(--letter-spacing-sm);
    margin-bottom: $li-mb;
    &:hover {
      .subnav {
        display: block;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.subnav {
  display: none;
  list-style: none;
  margin: 1rem 0;
  a {
    margin: 1rem 0 0 0.5rem;
    display: block;
    font-size: $sub-link-size;
  }
  @include respond(tablet) {
    display: block;
  }
}
