.links {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  color: #585858;
  list-style: none;
  li {
    margin: 1.8rem 0 0 0;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    &:hover {
      .subnav {
        display: block;
      }
    }
    a {
      text-decoration: none;
      color: #585858;
    }
  }
}

.subnav {
  display: none;
  list-style: none;
  margin: 1rem 0;
  a {
    margin: 1rem 0 0 0.5rem;
    display: block;
    font-size: 1.2rem;
  }
  @include respond(tablet) {
    display: block;
  }
}
