$mobile-links-margin-top: 5rem;
$mobile-link-font-size: 1.6rem;
$mobile-link-padding: 2.6rem 0;
$mobile-link-width: 100%;

.mobile-nav-links {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: $mobile-links-margin-top;
  transition: all var(--transition-md);
  a {
    @include theme_link;
    justify-self: center;
    padding: $mobile-link-padding;
    font-size: $mobile-link-font-size;
    letter-spacing: var(--letter-spacing-lg);
    width: $mobile-link-width;
  }
}
