$contact-info-margin-top: 8rem;
$contact-info-font-size: 1.2rem;
$contact-screen-height: 100vh;
$contact-screen-height-mobile: calc(100vh - 5.5em);
$contact-screen-width: 100%;

.contact-screen {
  @include bg-img;
  height: $contact-screen-height;
  margin: auto;
  position: relative;
  text-align: center;
  width: $contact-screen-width;

  &__info {
    @include full_wh;
    background-color: var(--color-overlay-bg);
    padding-top: $contact-info-margin-top;
    p,
    a {
      color: var(--color-black);
      margin: var(--margin-md) 0;
      font-size: $contact-info-font-size;
      letter-spacing: var(--letter-spacing-md);
      text-decoration: none;
    }
  }
  @include respond(mobile) {
    height: $contact-screen-height-mobile;
  }
}
