@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

@import './screens/Landing/styles';
@import './components/Sidenav/styles';
@import './components/ProjectItem/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f3f4;
}
