.custom-select {
  label {
    color: var(--color-dark-grey);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-lg);
    text-transform: uppercase;
  }

  select {
    background-color: transparent;
    border: 0.1rem solid var(--color-dark-grey);
    font-size: 1.6rem;
    height: 3.5rem;
    line-height: 1.6rem;
    margin-top: var(--margin-xs);
    outline: none;
    padding: 0.5rem;
    width: 100%;
    > option {
      color: var(--color-dark-grey);
    }

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
