.custom-select {
  color: var(--color-dark-grey);
  font-size: 1.4rem;
  margin: 1rem 2.5%;
  width: 95%;

  label {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing-md);
  }

  select {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--color-grey);
    height: 4rem;
    line-height: 1.6rem;
    outline: none;
    width: 100%;
  }
}
