.text-input {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 6rem;
  margin-bottom: 2rem;
  &__label {
    position: absolute;

    color: var(--color-grey);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: var(--letter-spacing-md);
  }
  .is-required {
    color: red;
    font-size: 1.25rem;
  }
  input {
    background-color: transparent;
    border: none;
    border: 0.1rem solid var(--color-light-grey);
    border-radius: 0;
    color: var(--color-dark-grey);
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-top: 2rem;
    padding: 1.2rem;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      border: 1px solid var(--color-dark-grey);
    }
    &:focus + label {
      font-weight: bold;
    }
  }
  .input-error {
    color: red;
    font-size: 1rem;
    letter-spacing: var(--letter-spacing-sm);
    text-align: start;
    margin-top: 0.25rem;
  }
}
