.text-input {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 5rem;
  margin-bottom: 2rem;
  &__label {
    position: absolute;

    color: var(--color-grey);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-md);
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--color-grey);
    border-radius: 0;
    color: var(--color-dark-grey);
    font-size: 1.6rem;
    height: 3rem;
    letter-spacing: 2px;
    margin-top: 2rem;
    outline: none;

    &:focus {
      animation: input-focus 0.25s linear both;
    }
    &:focus + label {
      transition: 0.2s ease-in-out;
      color: #039be5;
      font-size: 1.3rem;

      top: -0.5rem;
      left: 0;
    }
  }
  .input-error {
    color: red;
    font-size: 1rem;
    letter-spacing: var(--letter-spacing-sm);
    text-align: start;
    margin-top: 0.25rem;
  }
}

@keyframes input-focus {
  0% {
    border-bottom: 2px solid #039be5;
    width: 0%;
  }
  100% {
    border-bottom: 2px solid #039be5;
    width: 100%;
  }
}
