.shipping-screen {
  @include checkout-step-page;
}
.shipping-form {
  margin: 1rem auto;
  width: 100%;
  max-width: 45rem;

  &__title {
    @include checkout-step-page-title;
  }
  button {
    @include checkout-step-page-btn;
  }
}
