$icon-size: 2.8rem;

.icons-container {
  width: auto;
  margin-left: auto;
  margin-right: 0.75rem;
  margin-top: 0;
  i {
    margin: 0rem 0rem 0rem 2rem;
    color: var(--color-grey-primary);
    font-size: $icon-size;
  }
}
.fa-instagram {
  &:hover {
    transition: var(--transition-fast);
    color: var(--color-ig);
  }
}
.fa-facebook-square {
  &:hover {
    transition: var(--transition-fast);
    color: var(--color-fb);
  }
}
.fa-soundcloud {
  &:hover {
    transition: var(--transition-fast);
    color: var(--color-sc);
  }
}
