$toggle-size: 1.2rem;
.toggle-container {
  margin-top: auto;
  font-size: $toggle-size;
  color: var(--color-grey-primary);
  letter-spacing: var(--letter-spacing-sm);
  margin-left: var(--margin-sm);
}
