.sidenav {
  height: 100vh;
  width: 24rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #585858;
    letter-spacing: 0.2rem;
    margin: 2rem 1rem;
  }
  @include respond(tablet) {
    display: none;
  }
}
.project-links {
  list-style: none;
  margin: 1rem;
  li {
    margin: 2rem 0;
    color: #585858;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
