.sidenav {
  height: 90%;
  width: 24rem;
  padding-left: 1rem;

  display: flex;
  flex-direction: column;
  @include respond(tablet) {
    display: none;
  }
}
.links {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    margin: 1.8rem 0;
    color: #585858;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
