*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  max-width: 1200px;
}
:root {
  --color-grey-primary: #585858;
  --color-fb: #3b5998;
  --color-ig: #c13584;
  --color-sc: #ff7700;

  --color-bg: rgb(255, 255, 255);
  --color-modal-bg: rgba(0, 0, 0, 0.85);
  --color-transparent-white: rgba(255, 255, 255, 0.8);

  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 2rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;

  --letter-spacing-sm: 0.1rem;
  --letter-spacing-md: 0.2rem;

  --transition-fast: 0.25s ease-in-out;
  --transition-md: 0.5s ease-in-out;
}
