.view-product-btn {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  height: 5rem;
  letter-spacing: var(--letter-spacing-lg);
  margin: 0.5rem auto;
  outline: none;
  text-transform: uppercase;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:active {
    background-color: #fff;
    border: 0.1rem solid #000;
    color: #000;
    transform: translate(2px, 2px);
  }
  &.btn-tablet {
    display: none;
    opacity: 0.9;
  }
  @include respond(tablet) {
    display: none;
    border: none;
    width: 95%;
    margin: 1rem 2.5%;

    &:hover {
      cursor: pointer;
    }
  }
}

.view-product-btn:disabled {
  background-color: #fff;
  border: 0.1rem solid #000;
  color: #000;
  cursor: unset;
  &:active {
    background-color: unset;
    color: unset;
    transform: unset;
  }
}
