.contact-screen {
  @include main-layout;
  display: flex;
  justify-content: center;
  &__info {
    height: min-content;
    width: min-content;
    p,
    a {
      font-size: 1.6rem;
      width: 260px;
    }
  }
}
