.landing {
  height: calc(100vh - 8rem);
  display: flex;
}
.content {
  height: 100%;
  width: 100%;
  margin: 1rem;
  border: 1px solid red;
  .landing-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
