.lightbox {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    width: 50%;
    height: 50%;
    background-color: red;
  }
}
