$lightbox-body-max-width: 50rem;

.lightbox {
  background-color: var(--color-modal-bg);
  @include full_wh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $lightbox-body-max-width;
    img {
      object-fit: cover;
      max-width: 90%;
      max-height: 90%;
    }
  }
  @include respond(tablet) {
    &__body {
      img {
        max-width: 80%;
        max-height: 80%;
      }
    }
  }
  @include respond(mobile) {
    &__body {
      .fa-chevron-left {
        margin: 0 var(--margin-sm);
      }
      .fa-chevron-right {
        margin: 0 var(--margin-sm);
      }
    }
  }
}
