.dash-btn {
  display: none;
  align-self: center;

  border: 1px solid var(--color-dark-grey);
  color: var(--color-dark-grey);
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  letter-spacing: var(--letter-spacing-sm);
  text-align: center;
  text-transform: uppercase;
  width: 90%;

  @include respond(tablet) {
    margin: auto;
    align-self: center;
    display: block;
    font-size: 1.2rem;
  }
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #000;
    color: var(--color-white);
  }
  &:active {
    transform: translateY(2px);
  }
}

.mobile-dash__btns {
  display: block;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  @include respond(tablet) {
    display: none;
  }
}

.mobile-dash__btn {
  background-color: var(--color-transparent-white);
  border: 0.1rem solid var(--color-light-grey);
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  height: 3rem;
  letter-spacing: var(--letter-spacing-md);
  line-height: 3rem;
  margin-left: 5%;
  margin-top: var(--margin-xs);
  text-align: center;
  text-transform: uppercase;
  width: 90%;

  &:active {
    transform: translateY(-2px);
  }
  @include respond(tablet) {
    display: none;
  }
}
