.header {
  background-color: var(--color-overlay-bg);
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;

  z-index: 3;
  &__title {
    color: var(--color-black);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: var(--letter-spacing-md);
    margin-left: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  @include respond(tablet) {
    font-size: 1.8rem;
  }
}

.menu-bars {
  cursor: pointer;
  margin-left: 2rem;
}

.bar {
  width: 3.2rem;
  height: 0.2rem;
  background-color: #000;
  margin: 0.8rem 0;
  transition: 0.25s;
}

.bar:nth-of-type(1).change {
  transform: rotate(-45deg) translate(-7px, 8px);
}
.bar:nth-of-type(2).change {
  opacity: 0;
}
.bar:nth-of-type(3).change {
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-navigation {
  height: 90vh;
  width: 100%;

  position: absolute;
  top: 10vh;
  left: 0;
  list-style: none;
  z-index: 2;

  display: grid;
  grid-template-rows: repeat(4, 20vh) 10vh;

  &.admin-layout {
    grid-template-rows: repeat(6, 13vh) 12vh;
    a {
      line-height: 12vh;
    }
  }

  &.open {
    transition: all 0.4s;
    transform: translateX(0);
  }
  &.closed {
    transition: all 0.8s;
    transform: translateX(-100%);
  }
  &__link {
    background-color: var(--color-overlay-bg);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    a {
      color: #000;
      display: block;
      font-size: 1.4rem;
      letter-spacing: var(--letter-spacing-lg);
      line-height: 20vh;
      height: 100%;
      width: 100%;

      text-align: center;
      text-decoration: none;
    }
    &:last-of-type {
      padding-bottom: 20rem;
    }
  }
}
.mobile-padding {
  background-color: var(--color-overlay-bg);
}
// Animations
.slide-in-0 {
  animation: slide-in 0.4s linear 0.1s both;
}
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.3s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.5s both;
}
.slide-in-5 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-out-0 {
  animation: slide-out 0.3s linear 0.6s both;
}
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}
