.checkout-steps {
  display: flex;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  letter-spacing: var(--letter-spacing-lg);

  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  &__link {
    color: var(--color-dark-grey);
    text-decoration: none;

    &:hover,
    &:active {
      border-bottom: 0.2rem solid var(--color-light-grey);
    }
  }
  &__span {
    color: var(--color-light-grey);
  }
}
