.dashboard {
  display: flex;
  position: relative;

  height: 100%;
  margin: 0 auto;
  width: 100vw;
  max-width: 120rem;

  &__header {
    display: flex;
    height: 4rem;
    width: 100%;
    position: relative;
  }
  &__title {
    color: var(--color-grey);
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-lg);
    text-transform: uppercase;
    align-self: center;
    margin: auto;
  }
  &__sidenav {
    position: absolute;

    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    height: 100%;
    min-height: 90vh;

    z-index: 1;
  }

  &__sidenav__trigger {
    position: absolute;
    right: 1rem;

    color: var(--color-dark-grey);
    font-size: 2.4rem;
    height: 4rem;
    transition: 0.25s ease-in-out;
  }
  &__sidenav__links {
    margin-top: 2rem;
    width: 100%;
  }

  &__sidenav__link {
    color: #000;
    cursor: pointer;
    font-size: 1.4rem;
    height: 8rem;
    line-height: 8rem;
    letter-spacing: var(--letter-spacing-lg);
    margin-left: var(--margin-md);
    text-transform: uppercase;
    @include respond(tablet) {
      font-size: 1.4rem;
    }
  }

  &__resources {
    position: absolute;
    top: 4rem;

    height: 100%;
    padding: 0.5rem;
    width: 100%;
    max-width: 120rem;
    transition: 0.25s ease-in-out;
  }

  .sidenav-open {
    transition: 0.25s ease-in-out;
    width: 75vw;
    @include respond(tablet) {
      width: 26rem;
    }
  }

  .rotate {
    transform: rotate(-180deg);
  }
  .sidenav-closed {
    transition: 0.25s ease-in-out;
    width: 0rem;

    .dashboard__sidenav__links {
      display: none;
    }
  }
}
