.sound-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: var(--color-overlay-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p,
  a {
    color: var(--color-black);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-md);
    margin: var(--margin-sm) 0;
    text-decoration: none;
  }
}
