.cart-dropdown {
  position: absolute;
  width: 24rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  border: 0.1rem solid var(--color-light-grey);
  background-color: white;
  top: 6rem;
  right: 3rem;
  z-index: 5;

  .cart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
.checkout-redirect {
  height: 4rem;
  color: var(--color-grey);
  letter-spacing: var(--letter-spacing-md);
  text-decoration: none;
  border: 0.1rem solid var(--color-gray);
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-message {
  color: var(--color-grey);
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-md);
  margin: auto;
  text-transform: uppercase;
}
