.review-order {
  @include checkout-step-page;

  &__details {
    margin: 1rem 0;
    width: 100%;
  }

  &__title {
    @include checkout-step-page-title;
  }

  &__section {
    color: var(--color-grey);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-sm);
    line-height: 1.8;
    text-align: start;
    text-transform: uppercase;
    margin: 1rem 0;

    span {
      margin-left: var(--margin-sm);
    }
  }
  &__shipping {
    color: var(--color-grey);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-sm);
    line-height: 1.8;
    margin-bottom: 1rem;

    text-align: start;
    text-transform: uppercase;
    span {
      margin-left: var(--margin-sm);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    color: var(--color-grey);

    align-items: center;
    color: var(--color-grey);
    height: 14vh;
    letter-spacing: var(--letter-spacing-md);
    line-height: 1.8;
    text-align: start;
    margin: 0.5rem;

    &__img {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      height: 100%;
      width: 100%;
    }

    &__desc {
      text-overflow: ellipsis;
      margin-left: 2rem;
      font-size: 1.1rem;
    }
    &__price {
      text-align: center;
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }
  &__summary {
    display: flex;
    flex-direction: column;
    color: var(--color-grey);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing-md);
    line-height: 1.8;
    text-transform: uppercase;

    span {
      margin-left: var(--margin-sm);
    }
  }
  &__btn {
    @include checkout-step-page-btn;
  }
}

@include respond(tablet) {
  .review-order {
    &__shipping {
      font-size: 1.25rem;
    }
    &__item {
      &__desc {
        font-size: 1.25rem;
      }
      &__price {
        font-size: 1.25rem;
      }
    }
  }
}
