.m-nav {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100vw;

  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 2;
  &__body {
    background-color: rgba(241, 242, 243, 0.9);
    width: 45vw;
    height: 100vh;
    transition: all 0.5s 0.2s;
  }
  .links {
    display: flex;
    flex-direction: column;
    margin: 0;
    a {
      text-decoration: none;
      margin: 1.8rem 2rem;
      color: #585858;
      letter-spacing: 0.1rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
  @include respond(mobile) {
    &__body {
      width: 65vw;
    }
  }
}
