@import './MobileNavLinks/styles.scss';

$header-spacer: 5.5rem;
$m-nav-width-mobile: 100%;

.m-nav {
  background-color: var(--color-modal-bg);
  position: absolute;
  left: 0;
  top: $header-spacer;

  height: 100%;
  width: 0%;

  @media screen and (min-width: 769px) {
    display: none;
  }
  transition: var(--transition-md);
  z-index: 2;
}

.open {
  display: block;
  height: 100vh;
  overflow-y: unset;
  width: $m-nav-width-mobile;
  .mobile-nav-links {
    display: flex;
    a {
      color: var(--color-light-grey);
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}
