.custom-button {
  width: auto;
  height: 4rem;
  letter-spacing: var(--letter-spacing-md);
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  background-color: #fff;
  color: #666;
  text-transform: uppercase;
  border: 0.1rem solid var(--color-light-grey);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  transition: 0.25s ease-in;
  &:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
  }
}
