.cart-item {
  height: 8rem;
  font-size: 1.35rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: var(--letter-spacing-md);
  margin-bottom: var(--margin-sm);
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &__img {
    justify-self: center;
    background-size: cover;
    background-position: center;
    width: 90%;
  }
  &__qty {
    align-self: center;
  }
  &__price {
    align-self: center;
  }
  &__total {
    align-self: center;
  }
}
