$project-title-font-size: 1.6rem;
$project-title-size-mobile: 1.25rem;
$project-desc-size: 1.4rem;
$project-desc-size-mobile: 1.1rem;

$image-container-height: 30rem;

$images-desktop-display: grid;
$images-desktop-grid-gap: 0.5rem;
$images-mobile-grid-gap: 0.5rem;
$images-desktop-grid-cols: repeat(auto-fit, minmax(8rem, 1fr));

.project {
  margin: var(--margin-md);
  background-color: var(--color-overlay-bg);
  &__title {
    color: var(--color-light-grey);
    font-size: $project-title-font-size;
    letter-spacing: var(--letter-spacing-lg);
    margin-bottom: var(--margin-sm);
    width: 100%;
  }
  .image-container {
    height: $image-container-height;
    width: 100%;
  }
  .selected-image {
    display: none;
  }

  &__images {
    @include full_wh;
    display: $images-desktop-display;
    grid-gap: $images-desktop-grid-gap;
    grid-template-columns: $images-desktop-grid-cols;
    .project-image {
      @include full_wh;
      object-fit: cover;
    }
  }

  @include respond(tablet) {
    .image-container {
      display: grid;
      grid-template-columns: 15% 85%;
    }

    &__images {
      max-height: $image-container-height;
      grid-gap: 0;
      overflow: hidden;
    }
    .project-image {
      filter: brightness(30%);
    }

    .selected-image {
      display: block;
      padding: 0 0.5rem;
      width: 100%;
      height: $image-container-height;
      position: relative;
      &__img {
        @include full_wh;
        object-fit: cover;
      }
    }
  }

  @include respond(mobile) {
    margin: var(--margin-sm);
    &__title {
      margin-bottom: 0.5rem;
      font-size: $project-title-size-mobile;
    }
    .image-container {
      height: $image-container-height;
      grid-template-rows: 85% 15%;
      grid-template-columns: 1fr;
      grid-template-areas:
        'selected'
        'list';
      grid-gap: $images-mobile-grid-gap;

      &__images {
        @include full_wh;
        grid-area: list;
        display: flex;
      }
      .selected-image {
        grid-area: selected;
        height: 100%;
        padding: 0;
      }
    }
  }
}
