.project-item {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  height: 75vh;
  margin: 0 auto 2rem auto;
  position: relative;
  text-align: center;
  width: 90vw;
  &__img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 90%;
    width: 100%;
  }
}

@include respond(tablet) {
  .project-item {
    height: 54rem;
    width: 100%;
    margin: 0 auto;

    &__img {
      height: 46rem;
      width: 100%;
      background-size: cover;
      &:hover {
        transition: 0.2s ease-in;
        filter: brightness(50%);
      }
    }
  }
}
@include respond(desktop) {
  .project-item {
    height: 46rem;
  }
}
