.item-attrs {
  color: var(--color-dark-grey);
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  letter-spacing: var(--letter-spacing-md);
  margin-top: 0.5rem;
  text-transform: uppercase;
  transition: 0.2s ease-in;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    p {
      margin: 0.5rem 0;
    }
    p:nth-of-type(1) {
      font-weight: 400;
    }
  }
  &__btn {
    border: 1px solid var(--color-dark-grey);
    background-color: transparent;
    color: var(--color-dark-grey);
    font-weight: 400;
    height: 5rem;
    letter-spacing: var(--letter-spacing-lg);
    line-height: 5rem;
    margin: var(--margin-sm) auto;
    cursor: pointer;
    transition: 0.1s ease-in;
    &:active {
      background-color: #000;
      border: 1px solid #000;
      color: var(--color-white);
      transform: translateY(4px);
    }
  }
}

@include respond(tablet) {
  .item-attrs {
    margin-top: unset;
    &__wrapper {
      padding: unset;
      width: 100%;
    }
    &__btn {
      &:hover {
        transition: 0.1s ease-in;
        background-color: #000;
        border: 1px solid #000;
        color: var(--color-white);
      }
    }
  }
}
@include respond(desktop) {
  .item-attrs {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    &__wrapper {
      height: min-content;
      color: var(--color-white);
      padding: var(--padding-md);
      transition: 0.2s ease-in;
      transform: translateY(0);
      p {
        margin: 0.5rem 0;
      }
    }
    &__btn {
      border-color: var(--color-white);
      color: var(--color-white);
      margin: var(--margin-sm) auto;
      width: 80%;
      &:hover {
        color: rgba(0, 0, 0, 0.8);
        border: 0.1rem solid var(--color-white);
        background-color: var(--color-white);
      }
    }
  }
}
