.project-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-md);
  width: 100%;
  h1 {
    margin: var(--margin-sm) 0;
    letter-spacing: var(--letter-spacing-md);
    font-size: 2.2rem;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(1, minmax(330px, 1fr));
    gap: 0.5rem;
    grid-auto-rows: 107px;
  }
  &__img {
    width: 33rem;
  }
  &__description {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
    padding: var(--padding-sm);
    text-align: center;
  }
  &__medium {
    font-size: 1.6rem;
    text-align: center;
  }
}

@include respond(tablet) {
  .project-screen {
    width: 66rem;
    padding: unset;
    margin: 0 auto;
    &__images {
      grid-template-columns: repeat(2, minmax(330px, 1fr));
    }
    &__img {
      width: 33rem;
      &:hover {
        transition: 0.2s ease-in;
        filter: brightness(50%);
      }
    }
  }
}

@include respond(desktop) {
  .project-screen {
    width: 99rem;
    &__images {
      grid-template-columns: repeat(3, minmax(330px, 1fr));
    }
  }
}
