.dashboard-project-images {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;

  &__container {
    display: flex;
    flex-direction: column;
    div {
      position: relative;
    }
    img {
      width: 33rem;
    }
  }
}

@include respond(tablet) {
  .dashboard-project-images {
    width: 64rem;
    padding: unset;
    margin: 0 auto;
    &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(315px, 1fr));
      gap: 0.5rem;
      grid-auto-rows: 102px;
      img {
        width: 315px;
      }
    }
  }
}
@include respond(desktop) {
  .dashboard-project-images {
    width: 96rem;
    &__container {
      grid-template-columns: repeat(3, minmax(315px, 1fr));
    }
  }
}

.reorder-btns div,
.delete-image-btn {
  background-color: rgba(0, 0, 0, 0.7);
  width: 4rem;
  height: 4rem;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
  }
  &:active {
    transform: translateY(2px);
  }
}

.reorder-btns {
  transform: rotate(90deg);
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute !important;
  top: 2rem;
  left: -2rem;
  div {
    margin: 0 0.1rem;
    color: #fff;
    font-size: 2.6rem;
  }
  @include respond(tablet) {
    transform: unset;
    top: 0rem;
    left: 0rem;
  }
}
.delete-image-btn {
  align-items: center;
  color: red;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  position: absolute !important;
  top: 0em;
  right: 0rem;
}
