$print-screen-grid-gap: 1rem;
$print-screen-max-width: 110rem;

$print-screen-grid-cols: repeat(4, 1fr);
$tablet-print-screen-grid-cols: repeat(3, 1fr);
$mobile-print-screen-grid-cols: repeat(1, 1fr);

.prints {
  display: grid;
  grid-gap: $print-screen-grid-gap;
  grid-template-columns: $print-screen-grid-cols;
  max-width: $print-screen-max-width;
  margin-top: 5rem;
  margin-bottom: var(--margin-md);
  overflow-y: scroll;
  padding: var(--padding-sm);
  width: 100%;

  @include respond(tablet) {
    grid-template-columns: $tablet-print-screen-grid-cols;
  }

  @include respond(mobile) {
    grid-template-columns: $mobile-print-screen-grid-cols;
  }
}
