$print-screen-grid-gap: 1rem;
$print-screen-max-width: 110rem;
$print-screen-max-width-tablet: 76rem;

$print-screen-grid-cols: repeat(4, 1fr);
$tablet-print-screen-grid-cols: repeat(3, 1fr);

.print-list {
  display: grid;
  grid-gap: $print-screen-grid-gap;
  grid-template-columns: $print-screen-grid-cols;
  max-width: $print-screen-max-width;
  margin-top: 3rem;
  margin-bottom: var(--margin-md);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  @include respond(tablet) {
    grid-template-columns: $tablet-print-screen-grid-cols;
    max-width: $print-screen-max-width-tablet;
    margin: auto;
    width: 90%;
  }

  @include respond(mobile) {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8rem;
    width: 80%;
  }
}
