$print-item-height-mobile: 20rem;

.prints {
  @include full_wh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
  .print-item {
    @include full_wh;
    object-fit: cover;
  }

  @include respond(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(mobile) {
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    .print-item {
      width: 100%;
      height: $print-item-height-mobile;
      margin-bottom: var(--margin-sm);
    }
  }
}
