$background-url: 'https://lh3.googleusercontent.com/rNpoeeAsGMe2wBbcMHJbsnixLLSdi0cwGR_BikTTSgTMGRPpqDAmn0bcmRJGsYAcOOxRHLycid7qWh9wRnOwo34vuddxxeh7XDqCDVYezqYr_7O4C7nPF83I1ZixAD1yvusI3AS-ww=w2400';
$landing-screen-mobile-width: 100%;
$landing-screen-tablet-width: 70%;
$landing-screen-desktop-width: 60%;

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 31.25em) {
      @content;
    } // 500px
  }
  @if $breakpoint == tablet {
    @media (max-width: 48em) {
      @content;
    } // 768px
  }
  @if $breakpoint == laptop {
    @media (max-width: 64em) {
      @content;
    } // 1024px
  }
}

@mixin full_wh {
  height: 100%;
  width: 100%;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin theme_link {
  text-decoration: none;
  text-transform: uppercase;
}

@mixin bg-img {
  background: url($background-url) no-repeat center center;
  background-size: cover;

  margin: auto;
  margin-top: -1rem;
  height: 65rem;
  width: 50rem;

  @include respond(mobile) {
    margin-top: 0;
    height: 52rem;
    width: 88%;
  }
}
