@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 32em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 49em) {
      @content;
    }
  }
}

@mixin formEl {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid var(--color-dark-grey);
  color: var(--color-grey);
  font-size: 1.4rem;
  height: 4rem;
  line-height: 1.6rem;
  width: 100%;

  transition: var(--transition-fast);
  &:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-dark-grey);
  }
}

@mixin default-form {
  font-family: "Montserrat", sans-serif;
  height: 48rem;
  width: 28rem;
  margin: auto;
  &__title {
    color: var(--color-dark-grey);
    align-self: center;
    font-size: 1.65rem;
    margin-bottom: 2rem;
    letter-spacing: var(--letter-spacing-md);
  }
  &__btn {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    color: var(--color-grey);
    cursor: pointer;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-lg);
    outline: none;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    &:active {
      color: #333;
      transform: translateY(3px);
    }
  }
}
