.dashboard-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-top: 8rem;

  .prints-title {
    color: var(--color-grey);
    letter-spacing: var(--letter-spacing-lg);
    margin-left: 5%;
    margin-bottom: var(--margin-xs);
    text-transform: uppercase;
  }
}
