$chevron-size: 3.2rem;

.image-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2rem 1rem;

  > div {
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: $chevron-size;
  color: var(--color-transparent-white);
  margin: 0 var(--margin-xs);
}
