.image-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-chevron-left {
  margin: 0 2rem;
}
.fa-chevron-right {
  margin: 0 2rem;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 3.2rem;
  color: rgba(255, 255, 255, 0.8);
}
