$chevron-size: 3.2rem;

.image-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 2rem 1rem;

  > div {
    background-color: var(--color-transparent-white);
    border: 1px solid #e5e5e5;
    cursor: pointer;
    height: 5rem;
    width: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      i {
        color: var(--color-transparent-white);
      }
      background-color: #666;
    }
  }
  @include respond(mobile) {
    justify-content: space-between;
    > div {
      width: 48%;
    }
  }
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: $chevron-size;
  color: rgba(0, 0, 0, 0.2);
  margin: 0 var(--margin-xs);
  &:hover {
    color: var(--color-transparent-white);
  }
}
