.auth-input {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #666;
  color: #666;
  font-size: 1.4rem;
  justify-self: center;
  letter-spacing: var(--letter-spacing-lg);
  outline: none;

  height: 4rem;
  width: calc(100% - 20px);

  transition: var(--transition-fast);
  &:focus {
    border-bottom: 0.2rem solid #666;
  }
  &::placeholder {
    color: #666;
  }
}
.input-error {
  color: red;
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-sm);
  text-align: start;
  margin-top: var(--margin-sm);
}
