.preview-zine {
  height: 100%;
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;

  position: relative;
  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 32rem;
    margin-bottom: 2rem;

    animation: image-fade-in 0.5s ease-in-out;
  }
  @include respond(tablet) {
    max-width: 75rem;
    &__image {
      height: 46rem;
      max-width: 100%;
    }
  }
}

.next-btn,
.previous-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
  &:active {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.next-btn {
  right: var(--margin-xs);
}

.previous-btn {
  left: var(--margin-xs);
}

@keyframes image-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
