.preview-zine {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;
  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 90vw;
    height: 30rem;
    margin-bottom: 2rem;

    animation: image-fade-in 0.5s ease-in-out;
  }
  @include respond(tablet) {
    max-width: 50rem;
    margin: auto;

    &__image {
      height: 36rem;
      width: 100%;
    }
  }
  @include respond(desktop) {
    max-width: 70rem;
    &__image {
      height: 46rem;
      width: 100%;
    }
  }
}

.next-btn,
.previous-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
  z-index: 2;
  &:active {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.next-btn {
  right: var(--margin-xs);
}

.previous-btn {
  left: var(--margin-xs);
}

@keyframes image-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zine-pages {
  display: none;
}
.selected-zine-page {
  display: block;
}

.next-page {
  transform: translateX(-100%);
}
