.order-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 200%;
  &__border {
    display: block;
    @include hr-border;
    @include respond(tablet) {
      display: none;
    }
  }
  &__text,
  &__mobile {
    text-align: center;
    letter-spacing: var(--letter-spacing-md);
    color: var(--color-dark-grey);
    text-overflow: ellipsis;
    line-height: 4rem;
    white-space: nowrap;
  }
  &__text {
    display: none;
  }
  &__mobile {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
  @include respond(tablet) {
    align-self: center;
    display: grid;
    height: 4rem;
    width: 100%;
    &__text,
    &__mobile {
      display: block;
      font-size: 1.1rem;
      letter-spacing: var(--letter-spacing-sm);
      line-height: 4rem;
      &.not_paid,
      &.not_delivered {
        color: #ff0000;
        text-transform: capitalize;
      }
      &.is_paid,
      &.is_delivered {
        color: #4bb543;
        text-transform: capitalize;
      }
    }
  }
  @include respond(desktop) {
    font-size: 1.1rem;
  }
  &:hover {
    background-color: #eff;
  }
}
