.dash-item {
  height: 45vh;
  width: 100%;

  position: relative;
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }
  &__text {
    display: none;
  }
  @include respond(tablet) {
    display: grid;

    height: 8rem;
    width: 100%;

    div {
      letter-spacing: var(--letter-spacing-sm);
      text-align: center;
    }
    div:nth-child(2) {
      text-align: start;
    }
    &__img {
      background-size: contain;
      height: 95%;
      margin-top: 2.5%;
      justify-self: center;
    }
    &__text {
      color: var(--color-dark-grey);
      display: block;
      line-height: 8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .delete {
      color: red;
      cursor: pointer;
      font-size: 2.4rem;
      text-transform: uppercase;
    }
    .edit {
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
  @include respond(desktop) {
    font-size: 1.1rem;
  }
}
.dash-btn {
  display: none;
  align-self: center;
  background-color: #000;
  color: #fff;
  height: 45%;
  line-height: 3.8rem;
  text-transform: uppercase;
  width: 98%;

  @include respond(tablet) {
    display: block;
  }
}

.mobile-dash__btns {
  display: block;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  @include respond(tablet) {
    display: none;
  }
}
.mobile-dash__btn {
  background-color: var(--color-transparent-white);
  border: 0.1rem solid var(--color-light-grey);
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  height: 3rem;
  letter-spacing: var(--letter-spacing-md);
  line-height: 3rem;
  margin-left: 5%;
  margin-top: var(--margin-xs);
  text-align: center;
  text-transform: uppercase;
  width: 90%;

  &:active {
    transform: translateY(-2px);
  }
  @include respond(tablet) {
    display: none;
  }
}
