.project-detail {
  height: 100vh;
  width: 100vw;
}

.gallery {
  height: 100%;
  margin-left: 24rem;

  display: grid;
  grid-template-rows: 55% 40%;
  padding: 1rem 2rem;

  &__info {
    width: 80%;
    margin: auto;
    .project-title {
      font-size: 2rem;
      font-weight: 300;
      padding: 0.5rem;
      letter-spacing: 0.2rem;
      color: #585858;
    }
    .project-description {
      padding: 0.5rem;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      color: #585858;
    }
  }

  @include respond(tablet) {
    margin-left: 0;
    &__info {
      width: 90%;
    }
  }
}
