.zine-item {
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 90vh;
  letter-spacing: var(--letter-spacing-sm);
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 96vw;
  &__img {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    height: 70%;
    max-height: 80vh;
    width: 100%;
  }

  &__description {
    height: 30%;
    margin: 1rem auto 0 auto;
    text-align: center;
    text-transform: capitalize;
    width: 80%;
    @include respond(tablet) {
      width: 100%;
    }
  }
}

@include respond(tablet) {
  .zine-item {
    height: 55rem;
    width: 34rem;
    margin: 0;

    &__img {
      position: relative;
      height: 85%;
      width: 100%;
      transition: var(--transition-fast);
      &:hover {
        .btn-tablet {
          position: absolute;
          bottom: 0;
          display: block;
          margin-left: 2.5%;
          line-height: 5.5rem;
          height: 5.5rem;
          width: 95%;
        }
        .zine-preview-btn__tablet {
          position: absolute;
          display: block;
          bottom: 7rem;
          margin-left: 2.5%;
          line-height: 5.5rem;
          width: 95%;
        }
      }
    }
    &__title {
      height: 5.25%;
      margin: 1rem auto;
    }
    &__price {
      height: 5.25%;
      margin: 1rem auto;
    }
  }
}
.zine-preview-btn,
.zine-preview-btn__tablet {
  background-color: #000;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.1rem;
  height: 5.5rem;
  letter-spacing: var(--letter-spacing-lg);
  margin: 0.25rem auto;
  outline: none;
  text-transform: uppercase;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:active {
    background-color: #fff;
    color: #000;
    transform: translate(2px, 2px);
    opacity: 0.9;
  }
}

.zine-preview-btn {
  @include respond(tablet) {
    display: none;
  }
}
.zine-preview-btn__tablet {
  display: none;
}

.zine-preview-btn:disabled {
  display: block;
  background-color: #fff;
  border: 0.1rem solid #000;
  color: #000;
  cursor: unset;
  &:active {
    background-color: #fff;
    color: #000;
    transform: translate(2px, 2px);
  }
}
