.resource-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 0.5rem;

  min-height: 6rem;
  max-width: 120rem;
  &:not(:first-child) {
    border-bottom: 0.1rem solid var(--color-dark-grey);
  }
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.resource {
  &__headers {
    display: none;
    @include respond(tablet) {
      display: grid;
      height: 4rem;
      width: 100%;
    }
    div {
      color: var(--color-grey);
      height: 100%;
      letter-spacing: 0.2rem;
      font-size: 1.1rem;

      text-align: center;
    }
  }
}

.add-resource-btn {
  @include checkout-step-page-btn;
  margin: 1rem auto;
  @include respond(tablet) {
    margin: 1rem 0;
    width: 35rem;
  }
}
