.resource-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 0.5rem;

  min-height: 6rem;
  max-width: 120rem;
  &:not(:first-child) {
    border-bottom: 0.1rem solid var(--color-dark-grey);
  }
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.resource {
  &__headers {
    display: none;
    @include respond(tablet) {
      display: grid;
      grid-template-columns: 10% 35% 15% 10% 10% 10% 10%;
      height: 4rem;
      width: 100%;
    }
    div {
      color: var(--color-grey);
      height: 100%;
      letter-spacing: 0.2rem;
      font-size: 1.1rem;

      text-align: center;
    }
    div:nth-child(2) {
      text-align: start;
    }
  }
}

.add-resource-btn {
  @include checkout-step-page-btn;
  margin-left: 5px;
}
