.resources {
  padding: 0.5rem 0;
}
.resource-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 0.5rem;

  min-height: 6rem;
  max-width: 130rem;
  &:not(:first-child) {
    border-bottom: 0.1rem solid var(--color-dark-grey);
  }
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.resource {
  &__headers {
    display: none;
    @include respond(tablet) {
      align-self: center;
      display: grid;
      height: 4rem;
      width: 100%;
    }
    @include respond(desktop) {
      width: 80%;
    }
    div {
      color: var(--color-dark-grey);
      height: 100%;
      letter-spacing: 0.2rem;
      font-size: 1.35rem;
      text-align: center;
    }
  }
}

.add-resource-btn {
  background-color: #000;
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  height: 6rem;
  width: 6rem;

  position: fixed;
  bottom: 2.5%;
  right: 2.5%;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 3rem;
  }
}
