.pagination {
  height: 4rem;
  margin: 1rem 0;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include respond(tablet) {
    width: 40rem;
  }
}

.page-number {
  align-items: center;
  color: var(--color-light-grey);
  cursor: pointer;
  flex-grow: 1;
  text-decoration: none;
  font-size: 1.6rem;

  &:hover,
  &:active {
    color: #000;
  }

  border-right: 0.1rem solid var(--color-light-grey);
  &:first-of-type {
    border-left: 0.1rem solid var(--color-light-grey);
  }
  .active {
    color: #000;
  }
}
