.admin-screen {
  position: absolute;
  top: 10vh;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-form {
  height: 36rem;
  font-family: "Montserrat", sans-serif;
  width: 90%;

  display: grid;
  grid-template-rows: 15% 5% 25% 25% 35%;

  &__title {
    align-self: center;
    color: var(--color-dark-grey);
    font-size: 1.8rem;
    letter-spacing: var(--letter-spacing-md);
  }
  &__btn {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    color: #666;
    cursor: pointer;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing-lg);
    outline: none;
    text-transform: uppercase;
    text-align: start;
    width: 100%;

    &:active {
      color: #333;
      transform: translateY(3px);
    }
  }
  @include respond(tablet) {
    margin-top: 6rem;
    width: 32rem;
  }
}
