.zines-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zines-container {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include respond(tablet) {
    width: 60rem;
  }
  @include respond(desktop) {
    width: 90rem;
  }
}
