.zines-screen {
  align-self: center;
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;
}

.zines-container {
  justify-content: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 140rem;

  @include respond(tablet) {
    flex-direction: unset;
    flex-wrap: wrap;
  }
  @include respond(desktop) {
  }
}
