.dashboard-zine {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;

  &__pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__page {
    position: relative;
    height: 25rem;
    margin: 0.5%;
    width: 49%;
    @include respond(desktop) {
      width: 32%;
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.delete-page-btn {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: red;
  display: flex;
  font-size: 1.8rem;
  height: 4rem;
  justify-content: center;
  width: 4rem;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  &:hover,
  &:active {
    background-color: rgba(0, 0, 0, 0.9);
  }
  &:active {
    transform: translateY(2px);
  }
}
