.item-detail {
  color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  height: 100%;
  letter-spacing: var(--letter-spacing-sm);
  max-width: 90rem;
  width: 100%;
  &__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 68vh;
    margin-bottom: 1rem;
  }
  &__info {
    font-size: 1.4rem;
    font-weight: 300;
    height: 30vh;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    p {
      letter-spacing: var(--letter-spacing-md);
      margin: 0.5rem 0;
      width: 100%;
    }
    p:nth-of-type(1) {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__placeholder {
    margin: 0.5rem 0;
    width: 100%;

    a {
      color: var(--color-dark-grey);
      font-weight: 400;
      display: block;
      margin: 0.25rem 0;
      text-decoration: none;
      text-transform: lowercase;
    }
  }

  @media (min-width: 600px) {
    flex-direction: unset;
    align-items: center;
    height: 55rem;
    margin-top: unset;
    &__img {
      justify-self: start;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      height: 100%;
      width: 50%;
    }
    &__info {
      display: flex;
      font-size: 1.5rem;
      height: min-content;
      flex-direction: column;
      padding: var(--padding-sm);
      width: 50%;
      text-align: center;
    }
  }
  @media (min-width: 1000px) {
    align-items: unset;
    &__img {
      width: 60%;
    }
    &__info {
      font-size: 1.6rem;
      width: 40%;
      margin-top: 10%;
    }
  }
}
