$print-item-min-height: 18rem;
$print-item-max-height: 50rem;

$print-item-height-mobile: 50rem;

.print-item {
  display: flex;
  flex-direction: column;
  height: 65vh;
  &__img {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
  }
  &__description {
    padding: var(--padding-sm);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: var(letter-spacing-sm);
    color: #666;
  }
  &__size {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: var(letter-spacing-sm);
    color: #666;
  }
}

@include respond(mobile) {
  .print-item {
    object-fit: cover;
    height: $print-item-height-mobile;
  }
}
