.lightbox {
  background-color: rgba(0, 0, 0, 0.9);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;

  &.lb-open {
    transition: all 0.3s;
    transform: translateX(0);
    animation: fadein 1s;
    flex-direction: column;
  }
  &.lb-closed {
    transition: all 0.3s;
    transform: translateX(-100%);
  }

  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 75vh;
    width: 90vw;
    margin: 0 auto;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem;
    div {
      filter: brightness(50%);
      color: #fff;
      cursor: pointer;
      font-size: 4.2rem;
      width: 10rem;
      &:hover {
        filter: brightness(100%);
      }
    }
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 2;

    animation: fadein 1s;
  }
  &__bar {
    width: 3rem;
    height: 0.2rem;
    background-color: var(--color-white);
    margin: 0.8rem 0;

    transition: 0.25s;
    transition-delay: 0.5s;

    &:nth-of-type(1) {
      transform: rotate(-90deg) translate(-7px, 0px);
    }
    &:nth-of-type(3) {
      width: 2rem;
      transform: translate(4px, -8px);
    }
    &:nth-of-type(1).cross {
      transform: rotate(-45deg) translate(-7px, 8px);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3).cross {
      width: 3rem;
      transform: rotate(45deg) translate(-7px, -8px);
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include respond(desktop) {
  .lightbox {
    &__image {
      height: 75vh;
      width: 1000px;
    }
  }
}
