.dashboard-zine {
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 100%;
  max-width: 110rem;

  &__pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }

  &__page {
    position: relative;
    margin: 0.5%;
    width: 49%;
    @include respond(desktop) {
      width: 32%;
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }
}
.delete-page-btn,
.add-page-btn {
  color: #fff;

  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-md);

  text-align: center;
  text-transform: uppercase;
}
.add-page-btn {
  background-color: #000;
  height: 4rem;
  line-height: 4rem;
  margin: 0.5rem auto;
  max-width: 49rem;
  width: 100%;
  @include respond(tablet) {
    margin: 0.25rem;
  }
}
.delete-page-btn {
  background-color: rgba(0, 0, 0, 0.5);
  height: 3rem;
  line-height: 3rem;
  width: 90%;
  margin: 1rem 5%;

  position: absolute;
  bottom: 0;
  &:hover,
  &:active {
    background-color: rgba(0, 0, 0, 0.9);
  }
  &:active {
    transform: translateY(2px);
  }
}
