.dashboard-zine {
  padding: 0 0 1rem 0;
  &__pages {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 100vh;

    width: 100%;
    max-width: 110rem;
  }

  &__page {
    position: relative;
    margin: 1%;
    width: 48%;
    @include respond(desktop) {
      width: 33%;
      margin: 0.25rem 0;
    }
  }
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }
}
.delete-page-btn,
.add-page-btn {
  color: #fff;

  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-md);
  margin: 1rem 5%;
  text-align: center;
  text-transform: uppercase;
}
.add-page-btn {
  background-color: #000;
  height: 4rem;
  line-height: 4rem;
  margin: 0.5rem auto;
  max-width: 49rem;
  width: 98%;
}
.delete-page-btn {
  background-color: rgba(0, 0, 0, 0.5);
  height: 3rem;
  line-height: 3rem;
  width: 90%;

  position: absolute;
  bottom: 0;
  &:hover,
  &:active {
    background-color: rgba(0, 0, 0, 0.9);
  }
  &:active {
    transform: translateY(2px);
  }
}
