.checkout-item {
  display: grid;
  grid-template-columns: 20% 32% 16% 16% 16%;
  color: var(--color-grey);
  font-size: 1.2rem;
  height: 14vh;
  letter-spacing: var(--letter-spacing-md);
  text-align: center;
  margin: 0.75rem 0;

  &__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }
  &__desc {
    margin-top: 1.6rem;
    font-size: 1.25rem;
    text-align: center;
  }
  &__text {
    margin-top: 1.6rem;
    font-size: 1.2rem;
  }
  &__delete {
    color: red;
    cursor: pointer;
    font-size: 3rem;
    align-items: start;
  }
  &__border {
    @include hr-border;
  }
  @media (min-width: 600px) {
    height: 16vh;
  }
}
