.checkout-item {
  color: var(--color-dark-grey);
  font-size: 1.25rem;
  height: 14vh;
  letter-spacing: var(--letter-spacing-sm);
  text-align: start;
  text-transform: uppercase;
  margin: 0.5rem 0;

  display: grid;
  grid-template-areas:
    "image desc delete-btn"
    "image price price";

  grid-template-columns: 25% 65% 10%;
  grid-template-rows: 75% 25%;
  @include respond(tablet) {
    grid-template-columns: 20% 50% 30%;
  }
  &__img {
    grid-area: image;
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
  }
  &__text {
    grid-area: desc;
    margin-top: 1rem;
  }

  &__total {
    grid-area: price;
    display: flex;
    font-size: 1.35rem;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: var(--letter-spacing-md);
    text-align: start;
    width: 12rem;
    margin-left: auto;
  }

  &__delete {
    grid-area: delete-btn;
    color: red;
    cursor: pointer;
    font-size: 3.2rem;
    justify-self: end;
  }
  @media (min-width: 600px) {
    height: 16vh;
  }
}
