.header {
  display: flex;
  align-items: center;
  margin: 1rem;
  &__title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #585858;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-left: 1rem;
    span {
      font-weight: 300;
    }
  }
  &__menu-trigger {
    color: #585858;
    font-size: 2rem;
    margin-left: 0.75rem;
    display: none;
  }
  @include respond(tablet) {
    &__menu-trigger {
      display: flex;
    }
  }
}
