@import "./NavLinks/styles.scss";
$title-size: 2rem;
$cart-link-size: 1.4rem;
$mobile-title-size: 1.8rem;

$menu-trigger-size: 2rem;
$header-height: 5rem;

.header {
  position: fixed;
  align-items: center;
  display: flex;
  align-self: start;
  background-color: var(--color-overlay-bg);
  height: $header-height;
  padding: 1rem 1rem 0 1rem;
  width: 98%;
  z-index: 20;

  &__title {
    color: var(--color-black);
    font-size: $title-size;
    font-weight: var(--font-weight-normal);
    font-style: italic;
    letter-spacing: var(--letter-spacing-md);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 3;
    span {
      font-weight: var(--font-weight-light);
    }
  }
  &__cart-link {
    color: #333;
    font-size: $cart-link-size;
    letter-spacing: var(--letter-spacing-md);
    margin-left: auto;
    margin-right: var(--margin-md);
    text-decoration: none;
    text-transform: uppercase;
  }

  @include respond(mobile) {
    position: fixed;
    &__title {
      font-size: $mobile-title-size;
    }
  }
}
