@import './NavLinks/styles.scss';
$title-size: 2rem;
$mobile-title-size: 1.6rem;

$menu-trigger-size: 2rem;
$header-height: 5rem;

.header {
  align-items: center;
  display: flex;
  align-self: start;
  background-color: var(--color-overlay-bg);
  height: $header-height;
  padding: 1rem 1rem 0 1rem;
  width: 98%;

  &__title {
    color: var(--color-black);
    font-size: $title-size;
    font-weight: var(--font-weight-normal);
    font-style: italic;
    letter-spacing: var(--letter-spacing-md);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 3;
    span {
      font-weight: var(--font-weight-light);
    }
  }
  @include respond(mobile) {
    &__title {
      font-size: $mobile-title-size;
    }
  }
}
