$zine-screen-max-width: 110rem;

.zines {
  height: 100vh;
  width: 100%;
  margin-top: var(--margin-md);
  &__content {
    max-width: 110rem;
    margin: auto;
  }
  &__flipbook {
    display: flex;
    height: 12rem;
    width: 90%;
    border: 1px solid red;
    overflow: hidden;
  }
  @include respond(tablet) {
    &__content {
      max-width: 54rem;
    }
    &__flipbook {
      display: flex;
      height: 10rem;
      width: 100%;
      border: 1px solid red;
    }
  }
  @include respond(mobile) {
    &__content {
      max-width: 34rem;
    }
    &__flipbook {
      display: flex;
      height: 8rem;
      width: 100%;
      border: 1px solid red;
    }
  }
}
.selected-item {
  width: 90%;
  height: 35rem;
  border: 1px solid red;
}
.zine-img {
  max-width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.current {
  filter: brightness(90%);
}
