$zine-item-height: 20rem;
$zine-item-max-height: 26rem;

$zine-screen-max-width: 110rem;

$zine-screen-display: grid;
$zine-screen-grid-gap: 0.5rem;
$zine-screen-grid-cols: repeat(3, 1fr);
$mobile-zine-screen-grid-cols: repeat(2, 1fr);

.zines {
  display: $zine-screen-display;
  grid-gap: $zine-screen-grid-gap;
  grid-template-columns: $zine-screen-grid-cols;
  height: 100vh;
  max-width: $zine-screen-max-width;
  margin-bottom: var(--margin-md);
  padding: var(--padding-sm);
  .zine-item {
    @include full_wh;
    object-fit: cover;
    max-height: $zine-item-max-height;
  }

  @include respond(mobile) {
    height: 100%;
    grid-template-columns: $mobile-zine-screen-grid-cols;
    overflow-y: scroll;
    .zine-item {
      width: 100%;
      height: $zine-item-height;
    }
  }
}
