.bio-form {
  @include default-form;
  display: grid;
  grid-template-rows: 8% 80% 12%;
}
.project-form {
  @include default-form;
  display: grid;
  grid-template-rows: 8% 15% 15% 30% 12% 10% 10%;
}
.print-form {
  @include default-form;
  display: grid;
  grid-template-rows: 10% 30% 15% 15%6rem 6rem;
  .checkboxes {
    display: flex;
    justify-content: space-between;
  }
}
.image-form {
  @include default-form;
  display: grid;
  grid-template-rows: 20% 10% 20%;
  button {
    align-self: center;
  }
}

.file-size-error {
  margin: 0 calc(50% - 9rem);
  color: red;
  font-size: 1.6rem;
  width: 9rem;
}
