.header {
  background-color: var(--color-overlay-bg);
  height: 10vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
}

.menu-bars {
  cursor: pointer;
  margin-left: 2rem;
}

.bar {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #000;
  margin: 0.8rem 0;
  transition: 0.25s;
}

.bar:nth-of-type(1).change {
  transform: rotate(-45deg) translate(-7px, 8px);
}
.bar:nth-of-type(2).change {
  opacity: 0;
}
.bar:nth-of-type(3).change {
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-navigation {
  height: 100vh;
  width: 100%;

  position: absolute;
  top: 10vh;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
  z-index: 2;

  &.open {
    transition: all 0.4s;
    transform: translateX(0);
  }
  &.closed {
    transition: all 0.8s;
    transform: translateX(-100%);
  }
  &__link {
    height: 20%;
    overflow: hidden;
    background-color: var(--color-overlay-bg);

    a {
      color: #000;
      display: block;
      letter-spacing: var(--letter-spacing-lg);
      position: relative;
      font-size: 1.4rem;
      top: 45%;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
// Animations
.slide-in-0 {
  animation: slide-in 0.4s linear 0.1s both;
}
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.3s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.5s both;
}

.slide-out-0 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-1 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.1s both;
}
