.custom-select {
  width: calc(100% - 20px);
  margin: 1rem 0;

  label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-md);
  }
  input {
    @include formEl;
    margin-top: 0.25rem;
    padding: 0.5rem;
    outline: none;
    font-size: 1.7rem;
    letter-spacing: var(--letter-spacing-md);
  }
  select {
    @include formEl;
    color: var(--color-dark-grey);
    letter-spacing: var(--letter-spacing-md);
    text-transform: capitalize;
    -moz-appearance: inherit;
  }
}
