.custom-file-input-wrapper {
  border: 0.1rem solid var(--color-light-grey);
  color: var(--color-grey);
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  height: 4rem;

  transition: 0.2s ease-in;
  &:hover {
    background-color: black;
    border: 0.1rem solid black;
    color: #fff;
  }
}
.custom-file-input {
  cursor: pointer;
  height: 4rem;
  width: 40rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  &:active {
    transform: translateY(-2px);
  }

  @include respond(tablet) {
    width: 34rem;
  }
}
.file-input-label {
  font-size: 1.4em;
  letter-spacing: var(--letter-spacing-lg);
  text-align: center;
  text-transform: uppercase;
  &.success {
    color: #4bb543;
  }
}
.input-error {
  color: red;
  font-size: 1.25rem;
  letter-spacing: var(--letter-spacing-md);
  text-align: center;
  margin-top: 0.25rem;
  &.success {
    display: none;
  }
}
