.flipbook {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__selected-page {
    height: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  &__slider {
    position: relative;
    height: 8rem;
    width: 95%;
    overflow: scroll;
    margin: 1rem auto;
    @include respond(mobile) {
      width: 95%;
    }
  }
  &__slider-wrapper {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 95rem;
  }

  @include respond(mobile) {
    margin-top: 4rem;
    &__selected-page {
      height: 45%;
    }
  }
}

.zine-img {
  flex: 1;
  height: 100%;
  filter: brightness(30%);
}
.current {
  filter: brightness(90%);
}
