.cart-dropdown {
  background-color: #fff;
  border: 0.1rem solid var(--color-light-grey);
  color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  height: 34rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  width: 26rem;
  z-index: 5;

  position: absolute;
  top: 6rem;
  right: 3rem;

  &__btn {
    @include checkout-step-page-btn;
    height: 4rem;
    line-height: 4rem;
    margin-top: auto;
    text-decoration: none;
  }

  .cart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}

.empty-message {
  color: var(--color-grey);
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
  margin: 50% 0;
}
