.spinner-overlay {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .spinner-message {
    color: var(--color-grey);
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-lg);
    margin-bottom: var(--margin-md);
    text-transform: uppercase;
  }
  .spinner-container {
    width: 16rem;
    height: 16rem;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #666;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
