.clothing-screen {
  @include full_wh;

  display: flex;
  &__list {
    height: 100%;
    width: 15%;
    display: grid;
    grid-template-rows: repeat(1fr);
  }
  .clothing-img {
    @include full_wh;
    filter: brightness(30%);
    object-fit: cover;
  }
  .selected-item {
    max-width: 50rem;
    position: relative;
    padding: 0 0 0 1rem;

    &__img {
      @include full_wh;
      object-fit: cover;
    }
  }

  @include respond(tablet) {
    justify-content: center;
  }
  @include respond(mobile) {
    display: grid;
    grid-template-rows: 88% 12%;
    grid-template-areas:
      'selected'
      'list';
    grid-gap: 0.5rem;
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
    .selected-item {
      grid-area: selected;
      padding: 0;
    }
  }
}

.current {
  filter: brightness(70%) !important;
}
