.print-detail {
  color: var(--color-dark-grey);
  display: flex;

  flex-direction: column;
  height: 100%;
  letter-spacing: var(--letter-spacing-sm);
  margin: 1rem auto;
  max-width: 90rem;
  width: 100%;

  &__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
  }
  &__info {
    font-size: 1.2rem;
    height: 40%;
    margin: 0 auto;
    width: 100%;
  }

  &__description {
    margin: 0.5rem auto;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }
  &__size {
    text-align: center;
  }
  &__btn {
    background-color: transparent;
    border: 0.1rem solid var(--color-dark-grey);
    color: var(--color-dark-grey);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    height: 15%;
    letter-spacing: var(--letter-spacing-lg);
    margin: 2rem auto 0 auto;
    outline: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:active {
      background-color: var(--color-dark-grey);
      color: #fff;
      transform: translate(3px, 3px);
    }
  }
  @media (min-width: 600px) {
    flex-direction: unset;
    height: 100%;
    margin-top: unset;
    &__img {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      height: 90%;
      width: 50%;
    }
    &__info {
      display: flex;
      font-size: 1.4rem;
      height: min-content;
      flex-direction: column;
      margin-top: 15%;
      padding: 2rem;
      width: 50%;
    }
    &__btn {
      height: 4rem;
      width: 100%;
    }
  }
  @media (min-width: 1000px) {
    align-items: unset;
    &__img {
      align-self: center;
    }
    &__info {
      margin-top: 5%;
      max-width: 45rem;
    }
  }
}
