.print-delete {
  color: var(--color-grey);
  margin: 2rem auto;
  text-align: center;
  width: 34rem;
  form {
    margin-top: 6rem;
  }

  &__title {
    letter-spacing: var(--letter-spacing-md);
    margin-bottom: var(--margin-md);
  }
  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 32rem;
    margin-bottom: 2rem;
  }
  &__btn {
    @include checkout-step-page-btn;
    margin-top: 0;
    &:active {
      transform: translateY(2px);
    }
  }
}
