.print-delete {
  color: var(--color-grey);
  text-align: center;

  &__title {
    letter-spacing: var(--letter-spacing-md);
    margin-bottom: var(--margin-md);
  }
  &__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 32rem;
    margin-bottom: 2rem;
  }
  &__btn {
    background-color: transparent;
    color: red;

    border: none;
    height: 4rem;
    letter-spacing: var(--letter-spacing-md);
    outline: none;
    text-transform: uppercase;
    width: 32rem;

    &:active {
      transform: translateY(2px);
    }
  }
}
