.custom-checkbox {
  align-self: center;
  display: flex;
  position: relative;
  cursor: pointer;
  height: 4rem;

  align-items: center;
  color: var(--color-dark-grey);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing-md);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    margin-left: 2rem;
    height: 100%;
    width: 4rem;
    background-color: var(--color-light-grey);
  }
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: rgba(136, 217, 104, 0.8);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
