.checkout {
  @include checkout-step-page;
  &__details {
    margin: 1rem auto;
    width: 100%;
    max-width: 45rem;
  }
  &__headers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: var(--margin-md) 0;
    text-align: center;
  }
  &__header {
    color: var(--color-grey);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-md);
    text-transform: uppercase;
  }
  &__total {
    color: var(--color-grey);
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-md);
    margin-top: var(--margin-sm);
    margin-left: var(--margin-md);
    text-align: start;
    text-transform: uppercase;
  }
  &__btn {
    @include checkout-step-page-btn;
    @include respond(tablet) {
      margin-left: 2rem;
    }
  }
}
