.cart {
  @include checkout-step-page;
  max-width: 55rem;
  &__details {
    margin: 1rem auto;
  }
  &__headers {
    display: grid;
    grid-template-columns: 20% 32% 16% 16% 16%;

    margin: var(--margin-md) 0;
    text-align: center;
  }
  &__header {
    color: var(--color-grey);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-md);
    text-transform: uppercase;
  }
  &__total {
    color: var(--color-grey);
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-md);
    margin-top: var(--margin-sm);
    margin-left: var(--margin-md);
    text-align: start;
    text-transform: uppercase;
  }
  &__btn {
    @include checkout-step-page-btn;
    max-width: 55rem;
    @include respond(tablet) {
      margin: 2rem auto;
      width: calc(100% - 40px);
    }
  }
}
